
p.small {
    font-size: 12px
}

p.medium {
    font-size: 16px
}

p.quotetext {
    font-size: 20px;
    text-align: center;
}

p.quotesender {
    font-size: 12px;
    text-align: center;
}

h1.big {
    font-size: 20
}

h1.medium {
    font-size: 16px
}

h1.small {
    font-size: 12px
}