.container {
    width: 100%;
    max-width: 960px;
    margin-bottom: 2rem;
}

body{
    background-blend-mode: normal;
    background-image:linear-gradient(to right,#3f003f 0%, #46008b 100%)
}

@media (min-width: 768px) {
    .container {
        margin-bottom: 4rem;        
    }
}

@media (max-width: 600px) {
    .container {
        margin-bottom: 2rem;        
    }
}