.container {
    width: 100%;
    max-width: 960px;
    margin:0 auto;
}

/* clearfix */
.container::before, .container::after {
    content: "";
    display: table;
    clear: both;
}

.white {
    width: 100%;
    background-color: white;
    color: black;
}

body{
    background-blend-mode: normal;
    background-image:linear-gradient(to right,rgb(63, 0, 0) 0%, #46008b 100%);
}

.white .container {
    margin: 30px auto;
    padding: 15px 0;
}

.container, .white {
    margin-bottom:30px;
}

@media (min-width: 768px) {
    .container, .white {
        margin-bottom: 4rem;        
    }
}

@media (max-width: 600px) {
    .container, .white {
        margin-bottom: 2rem;        
    }
}