.container {
    width: 100%;
    max-width: 960px;
    margin-bottom: 2rem;
    
}

@media (min-width: 768px) {
    .container {
        margin-bottom: 4rem;        
    }
}

@media (max-width: 600px) {
    .container {
        margin-bottom: 2rem;        
    }
}