@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Lobster&family=Quicksand:wght@400;700&display=swap');

.blackBlock{
    background-color: black;
    border-radius: 15px;
    border:none;
    box-shadow: 0 0 8px 1px rgb(36, 34, 34);
    background-image:linear-gradient(315deg, black 30%, rgba(97, 90, 90, 0.507) 100%);
    padding: 15px;
}

.blackBlock--invert{
    background-color: white;
    background-image:linear-gradient(315deg, white 30%, rgba(168, 166, 166, 0.603) 100%);
}

.blackBlock--thin {
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    height:auto;
}

.blackBlock--thin:hover {
    transform: scale(1.05);
    overflow:visible;
}

.blackBlock--stacking{
    margin-bottom: 10px;
    min-height: 140px;
}

.blackBlock--centertext{
    text-align: center;
}

.blackBlock__text{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration-line: none;
}

.blackBlock--invert .blackBlock__text{
    color: black;
}

.blackBlock--thin .blackBlock__text{
    font-size: 16px;
}

.blackBlock--large .blackBlock__text{
    font-size: 26px;
}

.blackBlock--label {
    border-radius: 5px;
    display: block;
    float:right;
    width: calc(100% - 8px);
    padding: 4px;
}

a:link{
    text-decoration:none;
}

@media (max-width: 600px){

    .blackBlockSmall {
        margin-top: 5px;
        margin-bottom:5px;        
    }

    .blackBlock--stacking{
        margin: 5px;
        min-height: 100px;
    }
}
