.blackBlock{
    background-color: black;
    border-radius: 15px;
    border:none;
    box-shadow: 0 0 8px 1px rgb(36, 34, 34);
    background-image:linear-gradient(315deg, black 30%, rgba(97, 90, 90, 0.507) 100%);
    padding: 15px;
}

.blackBlock--small {
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    height:auto;
}

.blackBlock--small:hover {
    transform: scale(1.1);
    overflow:visible;
}

.blackBlock--centertext{
    text-align: center;
}

.blackBlock--label {
    border-radius: 5px;
    display: block;
    float:right;
    width: calc(100% - 8px);
    padding: 4px;
}

@media (max-width: 600px){

    .blackBlockSmall {
        margin-top: 5px;
        margin-bottom:5px;        
    }
}
