@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Lobster&family=Quicksand:wght@400;700&display=swap');

p.small {
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color:white;
}

p.medium {
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration-line: none;
}

p.code {      
    font-family: 'Fira Code', monospace;    
    text-decoration-line: none;
}

p.quoteText {
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    text-align: center;
    
}

p.quoteSender {
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: center;
    
}

h2.big, h1.big{
    margin:0;
    padding:0;
    font-size: 26px;
    font-family: 'Fira Code', monospace;
    color: white;
}

h2.medium, h1.medium{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    color: white;
}

h2.inSpring{
    padding-left: 1%;
    padding-right: 1%
}

h3.medium{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    color: white;
    text-decoration: none;
}

h4.medium{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
}

h4.small {
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.center{
    text-align: center;
}

.sophisticated {
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color:black;
}

p.black{
    color:black;
}

table th{
    font-size: 21px;
    font-family: 'Fira Code', monospace; 

}

table td{
    font-size: 16px;
    font-family: 'Fira Code', monospace; 
}

li a {
    
    color: black;
    text-align: center; 
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    
  }

.quote h2{  /* was called quote*/
    font-family: 'Quicksand', sans-serif;
    font-size:26px;
    font-weight: normal;
}

.quote p{  /* was called quote name*/
    font-family: 'Quicksand', sans-serif;
    font-size:16px;
}

@media (max-width: 600px){
    
}