/* general information for the Feature list for Info-pages */

.featureArticle{
    width:100%;      
    height:auto;
}

/* .featureTitle{
    margin:0;
} */

/*3 column structure, NEEDS TO BE RENAMED, Screen is split into 3 blocks called features*/

.featureBlock{
    margin-bottom:10px;     /* if blocks stack, there will always be a 10px gab between them*/
    overflow:hidden;
    height:auto;
}

/* .feature{
    width:calc(100% /12 * 4 - 2%);    
    margin-left:1%;
    margin-right:1%;
    min-height:150px; 
    display: inline-block;
    float:left; 
} */

/* .exampleBlock .feature h4{
    
    border-radius:15px;
    padding-left:5px;
} */

.threecol {
    float: left;
    padding: 1px;    
    margin-left: 1%;
    margin-right:1%;
    width: calc(100% / 12 * 4 - 2% - 4px - 2px);
    
    /* text-align: center; */
}

.threecol--minheight{
    min-height:200px;
}

.threecol__image{
    display: block;
    width: calc(100% - 10%);
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 0;
    margin-top:5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
}
.threecol--hover:hover{
    transform: scale(1.1);
    overflow:visible;
}

/* .feature img{
    display: block;
    width: calc(100% - 10%);
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 0;
    margin-top:5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
} */

/* a.feature:hover{
    transform: scale(1.1);
    overflow:visible;
}

a.feature{
    margin-bottom:20px;
} */

/* .additionalSourceBlock {
    float: left;
    padding: 1px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 1%;
    margin-right:1%;
    width: calc(100% / 12 * 4 - 2% - 4px - 2px);
    text-align: center;
} */

@media (max-width: 600px){
    /* .feature{
        width:calc(100% / 12 * 12 - 2% - 4px);
        margin-bottom:5px;
        height:auto;
        min-height:0;
    } */

    .threecol{
        width:calc(100% / 12 * 12 - 2% - 4px);
        margin-bottom:5px;
        height:auto;
        min-height:0;
    }

    .exampleBlock{
        width:100%;        
        display:inline-flex;
        height:auto;
    }

    /* .theecol--mobiletwocol{
        width:49%;
        float:none;
        min-height:150px;
    } */

    /* .additionalSourceBlock{
        width: calc(100% / 12 * 12 - 2% - 4px - 2px);
    } */

    .featureBlock{
        height:auto;
    }

    /* a.feature:hover{
        transform: scale(1);
    } */
}