/* general information for the Feature list for Info-pages */

.featureArticle{
    width:100%;      
    height:auto;
    color: white;
}

.featureArticle__title{
    margin:0;
    padding:0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 26px;
    font-family: 'Fira Code', monospace;    
}

.featureArticle--invert{
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.featureArticle--small .featureArticle__title{
    font-size: 20px;
}

.featureArticle--large .featureArticle__title{
    font-size: 30px;
}

/*3 column structure, NEEDS TO BE RENAMED, Screen is split into 3 blocks called features*/

.featureBlock{
    margin-bottom:10px;     /* if blocks stack, there will always be a 10px gab between them*/
    overflow:hidden;
    height:auto;    
}

.featureBlock__name{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
}

.featureBlock--small .featureBlock__name{
    font-size: 16px;
}

.featureBlock--large .featureBlock__name{
    font-size: 26px;
}

.featureBlock__explanation{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;    
}

.featureBlock--small .featureBlock__explanation{
    font-size: 12px;
}

.featureBlock--large .featureBlock__explanation{
    font-size: 20px;
}

.featureBlock__examplecode{
    font-family: 'Fira Code', monospace;
    margin:0;
    padding:0;
    font-size: 16px;
}

.featureBlock--invert .featureBlock__examplecode{
    color:black;
    text-shadow: none;
}

.featureBlock--small .featureBlock__examplecode{
    font-size: 12px;
}

.featureBlock--large .featureBlock__examplecode{
    font-size: 20px;
}

.threecol {
    float: left;
    padding: 1px;    
    margin-left: 1%;
    margin-right:1%;
    width: calc(100% / 12 * 4 - 2% - 4px - 2px);    
}

.threecol--minheight{
    min-height:200px;
}

.threecol__image{
    display: block;
    width: calc(100% - 10%);
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 0;
    margin-top:5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
}
.threecol--hover:hover{
    transform: scale(1.1);
    overflow:visible;
}

.threecol__header{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    color: white;
    text-decoration: none;
}

.threecol--invert .threecol__header{
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.threecol--small .threecol__header{
    font-size: 16px;
}

.threecol--large .threecol__header{
    font-size: 26px;
}

.threecol__text{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color:white;
}

.threecol--invert .threecol__text{
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.threecol--small .threecol__text{
    font-size: 12px;
}

.threecol--large .threecol__text{
    font-size: 20px;
}


@media (max-width: 600px){
    
    .threecol{
        width:calc(100% / 12 * 12 - 2% - 4px);
        margin-bottom:5px;
        height:auto;
        min-height:0;
    }

    .featureBlock__exampleBlock{
        width:100%;        
        display:inline-flex;
        height:auto;
    }
    
    .featureBlock{
        height:auto;
    }
}