/* general information for the Feature list for Info-pages */

.featureArticle{
    width:100%;      
    height:auto;
    color: white;
}

.featureTitle{
    margin:0;
    padding:0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 26px;
    font-family: 'Fira Code', monospace;    
}

.featureTitle--small{
    font-size: 20px;
}

.featureTitle--large{
    font-size: 30px;
}

/*3 column structure, NEEDS TO BE RENAMED, Screen is split into 3 blocks called features*/

.featureBlock{
    margin-bottom:10px;     /* if blocks stack, there will always be a 10px gab between them*/
    overflow:hidden;
    height:auto;    
}

.featureBlock__name{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
}

.featureBlock__name--small{
    font-size: 16px;
}

.featureBlock__name--large{
    font-size: 26px;
}

.featureBlock__explanation{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;    
}

.featureBlock__explanation--small{
    font-size: 12px;
}

.featureBlock__explanation--large{
    font-size: 20px;
}

.exampleBlock__code{
    font-family: 'Fira Code', monospace;
    margin:0;
    padding:0;
    font-size: 16px;
}

.exampleBlock__code--small{
    font-size: 12px;
}

.exampleBlock__code--large{
    font-size: 20px;
}

.threecol {
    float: left;
    padding: 1px;    
    margin-left: 1%;
    margin-right:1%;
    width: calc(100% / 12 * 4 - 2% - 4px - 2px);    
}

.threecol--minheight{
    min-height:200px;
}

.threecol__image{
    display: block;
    width: calc(100% - 10%);
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 0;
    margin-top:5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
}
.threecol--hover:hover{
    transform: scale(1.1);
    overflow:visible;
}

.threecol__header{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    color: white;
    text-decoration: none;
}

.threecol__header--small{
    font-size: 16px;
}

.threecol__header--large{
    font-size: 26px;
}

.threecol__text{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color:white;
}

.threecol__text--small{
    font-size: 12px;
}

.threecol__text--large{
    font-size: 20px;
}


@media (max-width: 600px){
    /* .feature{
        width:calc(100% / 12 * 12 - 2% - 4px);
        margin-bottom:5px;
        height:auto;
        min-height:0;
    } */

    .threecol{
        width:calc(100% / 12 * 12 - 2% - 4px);
        margin-bottom:5px;
        height:auto;
        min-height:0;
    }

    .exampleBlock{
        width:100%;        
        display:inline-flex;
        height:auto;
    }

    /* .theecol--mobiletwocol{
        width:49%;
        float:none;
        min-height:150px;
    } */

    /* .additionalSourceBlock{
        width: calc(100% / 12 * 12 - 2% - 4px - 2px);
    } */

    .featureBlock{
        height:auto;
    }

    /* a.feature:hover{
        transform: scale(1);
    } */
}