/* tryOut class, selects 70% of the screen in the middle */

.tryOut{    
    width:calc(100%);
    height:auto;
    display:inline-block;
}

/* all links in tryout class must be in blocks and 50% of the blocks width; */
.tryOut a{
    border: 2px solid black;
    display:inline-block; /*links must be on the same line*/
    width:calc(100% / 12 * 6 - 4px - 2%);
    font-size: 16px;
}

/*CSS for the image in the tryOut section*/
.tryOut img{ 
    display:inline-block;
    width:100%;
    object-fit:contain;
    object-position: center;
}

.tryOut ul{
    width:100%;
    display:list-item;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
}

.tryOut ul li{
    width:100%;
    padding:0;
    font-size: 12px;
}

/*part of a two-column, give it the width of 50% of the current block, and make it inline with other blocks 
when 2 sections are both defined with the .two-col class, It will but the 2 sections right down the middle of eachother*/
.two-col{
    width: calc(100% / 12 * 6 - 2.4%);
    margin-left: 1%;
    margin-right: 1%;
    display:inline-block;
}

.two-col img {    
    object-fit:contain;
    padding-top: 40px;
    max-height: 200px;
}

.leftOutline {
    padding-left: calc(100% /12 * 2);
    width: calc(100% / 12 * 6 - 2.4% - (100% /12 * 2));
}

.rightOutline {
    padding-right: calc(100% /12 * 2);
    width: calc(100% / 12 * 6 - 2.4% - (100% /12 * 2) );
}

@media (max-width:600px){
    .two-col img{
        display:none;
    }

    .two-col{
        width: calc(100% - 2%);
        margin-top:2em;
    }

    .leftOutline{        
        
        padding-left:0;
        width: calc(100% - 2%);
    }

    .rightOutline{
        
        padding-right:0;
        width: calc(100% - 2%);
    }
}