/* tryOut class, selects 70% of the screen in the middle */

/* .tryOut{    
    width:calc(100%);
    height:auto;
    margin-bottom:10px;
} */

/* all links in tryout class must be in blocks and 50% of the blocks width; */
.two-col__link{
    display:inline-block;
    font-family: 'Quicksand', sans-serif;
    width:calc(100% / 12 * 6 - 5%);
    font-size: 12px;
    margin:5px;
}

.two-col__link--small {
    font-size: 8px;
}

.two-col__link--large {
    font-size: 16px;
}


.two-col__list{
    width:100%;
    list-style-type: disc;
    margin-top: 1em;
    list-style-position: inside;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.two-col__list--small{
    font-size: 12px;
}

.two-col__list--large{
    font-size: 20px;
}


/*part of a two-column, give it the width of 50% of the current block, and make it inline with other blocks 
when 2 sections are both defined with the .two-col class, It will but the 2 sections right down the middle of eachother*/

.two-col{
    width: calc(100% / 12 * 6 - 2.4%);
    margin-left: 1%;
    margin-right: 1%;
    float:left;
}

.two-col__title{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    color: white;
}

.two-col__title--small{
    font-size: 16px;
}

.two-col__title--large{
    font-size: 26px;
}

.two-col__text{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color:white;
}

.two-col__text--small {
    font-size: 12px;
}

.two-col__text--large {
    font-size: 20px;
}

.two-col__image {    
    object-fit:contain;    
    max-height: 200px;
    border-radius: 15px;
}

.two-col--leftOutline {
    padding-left: calc(100% /12 * 2);
}

.two-col--rightOutline {
    padding-right: calc(100% /12 * 2);
}

@media (max-width:600px){
    .two-col__image{
        display:none;
    }

    .two-col{
        width: calc(100% - 2%);
        margin-top:2em;
    }

    .two-col--leftOutline{        
        
        padding-left:0;
        width: calc(100% - 2%);
    }

    .two-col--rightOutline{
        padding-right:0;
        width: calc(100% - 2%);
    }
}