<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sophisticated CSS - Login</title>
        <meta name="keyword" content="CSS, Preprocessor, sophisticatedCSS, quiz, assesmment, test, login">
        <link rel="stylesheet" href="css/sophisticated.css" />
        <meta name="description"
        content="This is the login page for the Sophisticated CSS site, it lets the user login into their profile">
    </head>
    <body>
        <header class="nav" id="nav" selectorTitle="Navigation">
            <div class="container container--centerVertical">
                <div class="nav__home">
                    <a href="index.html">SophisticatedCSS</a>
                </div>
                <nav class="nav__page">
                    <ul class="nav__ul">
                        <li class= "nav__li"><a href="sass.html">Sass</a></li>
                        <li class= "nav__li"><a href="less.html">Less</a></li>
                        <li class= "nav__li"><a href="stylus.html">Stylus</a></li>
                        <li class= "nav__li"><a href="postcss.html">PostCSS</a></li>
                        <li class= "nav__li"><a href="/quiz">Quiz</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <article class="container login">
            <form method="post" class="blackBlock one-col one-col--smaller">
                <h1 class="login__title">Login</h1>
                <div class="two-col inputSet">
                    <label for="username" class="inputSet__label">Username:</label>
                    <input type="text" id="username" name="username" class="inputSet__input"><br>
                </div>
                <div class="two-col inputSet">
                    <label for="password" class="inputSet__label">Password:</label>
                    <input type="password" id="password" name="password" class="inputSet__input"a><br>
                </div>
                <input type="submit" value="Login" class="login__button">
                <p class="login__text--white">
                <% if (messages.error) { %>
                    <% messages.error.forEach((element) => { %>
                    <%= element %>
                    <% }) %>
                <% } %>
                </p>
            </form>
            <a href="/register" class="login__textsmall--white">Register a new account</a>    
            
        </article>

        <footer class="footer" id="footer" selectorTitle="Footer">
            <div class="container container--centerVertical">
                <section class="footer__text">
                    <h2 class="footer__name">SophisticatedCSS</h2>
                    <p class="footer__info">SophisticatedCSS is an assignment for the course webtechnology at the
                        University in Utrecht</p>
                    <p class="footer__info footer--topmargin">
                        <a href="https://github.com/DavidckPixel/SophisticatedCSS">Github</a> |
                        <a href="https://www.uu.nl">UU</a> |
                        <a href="http://www.cs.uu.nl/education/vak/INFOB2WT">Webtechnology</a>
                    </p>
                </section>
                <img class="footer__img"
                src="image/uulogo.png" alt="UU Logo">
    
                <section class="footer__contributor">
                </section>
                <section class="footer__contributor">
                </section>
                <section class="footer__contributor">
                </section>
            </div>
        </footer>
    
        <section class="footer" id="attribute" selectorTitle="Attribute">
            <div class="container container--centerVertical">
                <section class="contributor">
                    <h4 class="contributor__name">Laura Holtus</h4>
                    <p class="contributor__number">1810057</p>
                </section>
                <section class="contributor">
                    <h4 class="contributor__name">David Koymans</h4>
                    <p class="contributor__number">6561829</p>
                </section>
                <section class="contributor">
                    <h4 class="contributor__name">Jasper Weyne</h4>
                    <p class="contributor__number">5960134</p>
                </section>
            </div>
        </section>
    </body>
</html>
