
/* 33/66% screen division first half being picture second half being text */

.intro{
    margin-top:50px;
    height:auto;
    display: block;
}

/* .intro .introBlock{
    width:calc(100% / 12 * 8 - 2%);
    height:100%;
    margin-right:1%;
    margin-left: 1%;
    overflow: auto;
    display: inline-block;
    float:right;
} */

.intro__text{
    width:calc(100% / 12 * 8 - 2%);
    height:auto;
    margin-right:1%;
    margin-left: 1%;    
    display: inline-block;
    float:right;
    color: white;
}

.intro--invert .intro__text{
    color:black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.intro__header{
    margin:0;
    padding:0;
    font-size: 26px;
    font-family: 'Fira Code', monospace;
}

.intro--small .intro__header{
    font-size: 20px;
}

.intro--large .intro__header{
    font-size: 30px;
}

.intro__paragraph{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.intro--small .intro__paragraph{
    font-size: 16px;
}

.intro--large .intro__paragraph{
    font-size: 26px;
}

.intro__img{
    width:calc(100% / 12 * 4 - 2%);
    height:100%;
    border-radius:15px;
    margin-right:1%;
    margin-left: 1%;
    object-fit:contain;
    display: inline-block;
    
}

.intro__link{    
    
    max-width:25%;
    margin-top:10px;    
    width:calc(100% / 12 * 6 - 5%);
    display:inline-block;
    
}

.intro__button{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration-line: none;
}

.intro--invert .intro__button{
    color:black;    
}

.intro--small .intro__button{
    font-size: 16px;
}

.intro--large .intro__button{
    font-size: 26px;
}

/* slightly different proportions for the home page, 5/7 */

.introHome{
    margin-top:50px;
    height:auto;
    
}

.introHome__text{
    width:calc(100% / 12 * 7 - 2*1%);
    margin-left: 1%;
    margin-right:1%;
    height:100%;
    overflow: auto;
    float: right;
    color: white;
}

.introHome--invert .introHome__text{
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.introHome__header{
    margin:0;
    padding:0;
    font-size: 26px;
    font-family: 'Fira Code', monospace;
}

.introHome--small .introHome__header{
    font-size: 20px;
}

.introHome--large .introHome__header{
    font-size: 30px;
}

.introHome__paragraph{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.introHome--small .introHome__paragraph{
    font-size: 16px;
}

.introHome--large .introHome__paragraph{
    font-size: 26px;
}

.introHome__img{
    width:calc(100% / 12 * 5 - 2*1%);
    margin-left: 1%;
    margin-right:1%;
    height:100%;
    object-fit:contain;
    float: left;
    border-radius: 15px;
}

@media(max-width: 600px){
    .intro{
        margin-top:50px;
        height:auto;
        display: inline-block;
    }
    
    .intro__text{
        width:calc(100% - 2%);
        height:100%;
        overflow: hidden;
        display: inline-block;
        margin-top: 5%;
    }
    
    .intro__img{
        width:calc(100% - 2%);
        height:100%;
        object-fit:contain;
    }

    .introHome{
        margin-top:30px;
        height:auto;
        display: inline-block;
    }
    
    .introHome__text{
        width:calc(100% / 12 * 12 - 2*1%);
        margin-left: 1%;
        margin-right:1%;
        height:100%;
        overflow: auto;
        float: right;
        margin-top: 5%;
    }
    
    .introHome__img{
        width:calc(100% / 12 * 12 - 2*1%);
        margin-left: 1%;
        margin-right:1%;
        height:100%;
        object-fit:fill;
        float: left;        
    }

}