.login__text--white{
    color:white;
}

.login__textsmall--white{
    color:white;
}

.loginoutbox{
    width:30%;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.loginoutbox__text{
    margin-left: 20px;
    margin-right: 20px;
    color:white;
}