.footer {
    margin-top: 20px;
    height:auto;
    width: 100%;
    background-color: white;
    color: black;
}

.footer--invert{
    background-color: black;
    color: white;
}

.footer--invert .footer__text{
    color: white;
}

.footer--invert .footer__name{
    color: white;
}

.footer__img {
    float: left;
    width: calc(100% / 12 * 1 - 2%);
    height:100%;
    margin-left: 1%;
    margin-right:3%;
    object-fit:scale-down;
    object-position: center;
}

.contributor {
    float: left;
    width: calc(100% / 12 * 2 - 2%);
    margin-top: 16px;
    margin-left: 1%;
    margin-right:1%;
}


.contributor__name{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.contributor__number{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.contributor--small .contributor__name{
    font-size: 12px;
}

.contributor--large .contributor__name{
    font-size: 20px;
}

.contributor--small .contributor__number{
    font-size: 12px;
}

.contributor--large .contributor__number{
    font-size: 20px;
}

.footer__text {
    width: calc(100% / 12 * 4 - 2%);
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    color: black;
}


.footer__name{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color:black;
}

.footer--small .footer__name{
    font-size: 16px;
}

.footer--large .footer__name{
    font-size: 26px;
}

.footer__info{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.footer--small .footer__info{
    font-size:12px;
}

.footer--large .footer__info{
    font-size: 20px;
}

.footer--topmargin{
    margin-top:10px;
}

.styleModifierElement{
    float:left;
    width: 20%;
    color:black;
    height: 150px;
    overflow: auto;
    font-family: 'Quicksand', sans-serif;
    padding:4px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    white-space: nowrap;
}

.styleModifierElement--small .styleModifierElement__selectorText{
    font-size: 12px;
}

.styleModifierElement--large .styleModifierElement__selectorText{
    font-size: 20px;
}

.styleModifierElement--small .styleModifierElement__styleSelector{
    font-size: 12px;
}

.styleModifierElement--large .styleModifierElement__styleSelector{
    font-size: 20px;
}

.styleModifierElement--invert{
    color: white;
}

.styleModifierElement--invert .styleModifierElement__selectorText{
    color: white;
}

.styleModifierElement--invert .styleModifierElement__styleSelector{
    color: white;
}

.styleModifierElement--thin{
    width: 14%
}


.styleModifierElement__selectorText{
    font-size: 16px;
    color:black;
}

.styleModifierElement__styleSelector{
    font-size: 16px;
    color:black;
    font-family: 'Quicksand', sans-serif;
    background-color:none;
    margin: 0;
    
}


@media(max-width:600px){
    .footer__img{
        width:calc(100% / 12 * 3 - 2%);
        height:20%;
        margin-right: 1%;
        float:right;
        object-fit:scale-down;
        object-position: center;
    }

    .footer__text{
        width:calc(100% / 12 * 9 - 2%);
        height:20%;
        float:left;
        margin-bottom: 10px;
    }

    .footer__contributor{
        width:calc(100% / 12 * 9 - 2%);
        display: inline-block;
        margin-bottom: 0;
        margin-top:0;
    }


    .styleModifierElement{
        float:none;
        display:block;
        width: 50%;
        color:black;
        height: 150px;
        overflow: auto;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 10px;
        border: 3px solid black;
        margin-left: 25%;
    }

    

    .styleModifierElement--thin{
        width: 50%;
        height: 100px;
    }
}