/* The ul, li, and a elements are used as the navigating tools for other parts of the website. 
we give al the elements 20% of the page, because there are 5 elements, and display them as inline-blocks, next to eachother*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
  }
  
  li {
    width:19%;
    padding-top:5px;
    display:inline-block;
  }
  
  li a {
    color: black;
    text-align: center; 
    text-decoration: none;
  }
   
  /*We disect the navbar into 2 parts: side title | navigator, we give the side title 33% of the screen and the navigator the remaining 66% 
  Both blocks are inlined so they fit on the same page*/

.nav .navBarName{
    width:33%;
    display:inline-block;
}

.nav .navBarSelect{
    color:#000;
    width:66%;
    display:inline-block;
  }

.nav .navBarName h1{
    text-align: center; /* text is aligned center block*/
    margin:0;   
    padding-top:5px;
}

.nav{
    margin: 1%;
    width: calc(100% - 2% - 4px);
    border-style: solid;
    border-width: 2px solid black;/* give the headerbar a border around it;*/
    height:auto;
}

@media (max-width:600px){
  .nav .navBarName{
    width:100%;
    display:block;
  }

  .nav .navBarSelect{
    color:#000;
    width:100%;
    display:block;
  }
}