
/* 33/66% screen division first half being picture second half being text */

.intro{
    margin-top:50px;
    height:200px;
    display: inline-block;
}

.intro .introBlock{
    width:66%;
    height:100%;
    overflow: hidden;
    display: inline-block;
}

.intro img{
    width:33%;
    height:100%;
    object-fit:contain;
}

.intro h1{
    margin:0;
    padding:0;
}

.introLink{
    border-style: solid;
    max-width:25%;
}

.introLink p{
    text-align:center;
}