.questionBlock{
    height:auto;
}

.questionBlock__titleContainer{
    width:100%;
    background-color: white;
    min-height: 115px;
    margin-bottom: 10px;
}
.questionBlock__title{
    color: black;
    width: 66%;
    font-size:20px;
    font-family: 'Fira Code', monospace;
    float:left;
}

/* .questionBlock__button{
    width: 8%;
    height: width;    
} */



.questionBlock--invert .questionBlock__titleContainer{
    background-color: black;
}

.questionBlock--invert .questionBlock__title{
    color:white;
}

.questionBlock--small .questionBlock__title{
    font-size: 16px;
}

.questionBlock--large .questionBlock__title{
    font-size: 26px;
}

.checkBlock{
    width: 33%;
    float:left;
    height: 265px;
    /* min-height: 355px; */
    margin-top: -125px;
}


.checkBlock--center{
    text-align:center;
    margin-left: calc((100% - 80px)/2);
    margin-top: 100px;
    margin-bottom: 100px;
}

.checkBlock__explanation{
    font-size: 16px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.checkBlock--invert .checkBlock__explanation{
    color: black;
}

.checkBlock--small .checkBlock__explanation{
    font-size: 12px;
}

.checkBlock--large .checkBlock__explanation{
    font-size: 20px;
}

.checkBlock__button{
    width: 30%;
    min-width:80px;
    background-color: white;
    color:black;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.checkBlock--invert .checkBlock__button{
    background-color: black;
    color:white;
}

.checkBlock--small .checkBlock__button{
    font-size: 16px;
}

.checkBlock--large .checkBlock__button{
    font-size: 26px;
}

.answerBlock{
    color:white;
    width: 66%;
    height:auto;
    float:left;
}

.answerBlock--invert{
    color: black;
}

.answerBlock__duo{
    width: 100%;
    float:left;
}

.answerBlock__Text{
    font-size: 20px;
    width: 70%;
    font-family: 'Fira Code', monospace;
    float:left;
}

.answerBlockt--small .answerBlock__Text{
    font-size: 16px;
}

.answerBlock--large .answerBlock__Text{
    font-size: 26px;
}

.answerBlock__textInput{
    float:left;
    padding: 5px;
    margin-left:10px;
    margin-top:118px;
    margin-bottom: 118px;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
}

.answerBlock--small .answerBlock__textInput{
    font-size: 16px;
}

.answerBlock--large .answerBlock__textInput{
    font-size: 26px;
}

.answerBlock__checkbox{
    width: 30px;
    margin-top:1em;
    height: 30px;
    border-radius: 50%;
    float:right;
}

.answerBlock__checkbox--selected{
    background-image: url("../../image/crossmark.png");
    background-size:30px;
}

.answerBlock__checkbox--deselected{
    background-color: white;
}

.checkBlock__Header--true{
    color:green;
}

.checkBlock__Header--false{
    color:red;
}

@media (max-width: 600px) {
    .checkBlock{
        float:left;
        min-height:0px;
        margin: 5px;
        height:auto;
        width: calc(100% - 10px);
        
    }

    .checkBlock--center{
        text-align:center;
        margin-left: 33%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .answerBlock{
        width:100%;
    }

    .answerBlock__textInput{
        width: calc(100% - 10px);
        margin-left: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}