/*User review block, block uses only 80% of the screen, then from that 80% -> 80% is contributed to the review
While the remaining 20% if given to the image */

.userReview{
    width:100%;
    background-color: white;
    color: black;
}

.userReview__text{
    width:calc(100% / 12 * 8 - 2%);
    margin-left: calc(100% / 12 * 1 + 1%);
    margin-right: 1%;
    text-align: center;
    float:left;
}

.userReview__img{
    width:calc(100% / 12 * 2 - 2%);
    height:100%;
    margin-left: 1%;
    margin-right: calc(100% / 12 * 1 + 1%);
    object-fit:contain;
    object-position: center;
    border-radius:50%;
    float:left;
}

/*Dev quote block, block uses full width of the screen*/

.quote{
    width:100%;
    height:auto;
    display: inline-block;
}

.userReview__quote {
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    text-align: center;
    
}

.userReview__sender {
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    display: block;
    
}

@media (max-width: 600px){

    
    .userReview__text{
        width:calc(100% / 12 * 9 - 2%);
        margin-left: 1%;
        margin-right: 1%;        
        float:left;
        
    }
    
    .userReview__img{
        width:calc(100% / 12 * 3 - 2%);
        height:100%;
        margin-left: 1%;
        margin-right: 1%;
        object-fit:contain;
        object-position: center;
        float:left;
    }
}