
.compare table{
    table-layout: fixed;
    width:100%;
    border: 1px solid black;
}

.compare th{
    border:1px solid black;
    text-align:center;
}

.compare td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.compare{
    width:100%;
    height:200px;
    margin-top:50px;
    display:inline-block;
}