
/*Nav element*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
}

li {
  float: left;
  width:20%;
  padding-top:5px;
}

li a {
  display: block;
  color: white;
  text-align: center; 
  text-decoration: none;
  color:#000
}

.navBarName{
  float: left;
  width:33%;
  height:32px;
  padding: 0;
  margin:0;
  border:0;
}

.navBarSelect{
  color:#000;
  float: right;
  width:66%;
  height:32px;
  padding: 0;
  margin:0;
  border:0;
}
.projectName{
  width: 100%;
  height: 100%;
  text-align: center; 
  padding:0;
  margin:0;   
  padding-top:5px;
}

.nav{
  border-style: solid;
  height:32px;
  padding:0;
  margin:0;  
}

/*intro*/

.intro{
  padding-top:50px;
  width:100%;
  height:350px;
  display: inline-block;
}

.introBlock{
  margin:1%;
  padding:0;
  float:right;
  width:56.33%;
  height:100%;
  overflow:auto
}

.introImage{
  float:left;
  width:39.66%;
  height:100%;
  object-fit:scale-down;
  margin: 1%;
}

/*text*/

.titles{
  margin:0;
  padding:0;
  font-size: 20px;
}

/*quote*/

.quote{
  padding-top:50px;
  width:100%;
  height: 200px;
  display: inline-block;
}

.quoteBlock{
  margin-left:9.33%;
  margin-right: 1%;
  padding:0;
  float:left;
  width:64.66%;
  height:100%;
  text-align: center;
  vertical-align: middle;
}

.quoteImage{
  margin-left:1%;
  margin-right:9.33%;
  padding:0;
  float: right;
  width: 14.66%;
  object-fit:scale-down;
  height: 100%;
  
}
/*Processorblocks*/

.allProcessors{
  padding-top:50px;
  width:100%;
  height:300px;
  display: inline-block;
}

.allPreProcessors {
  width: 49.5%;
  height: 100%;
  margin: 1%;
  padding-left: 7.33%;
  padding-right: 7.33%;
  border: 2px solid black;
  float: left;
  
  
}

.preProcessorBlock {
  width:100%;
  height:100%;
  
}

.allPostProcessors{
  width: 14.16%;
  height: 100%;
  margin: 1%;
  padding-left: 8.33%;
  padding-right: 8.33%;
  border: 2px solid black;
  float: right;
}

.preProcessorContainer {
  width:28.7%; 
  margin:2%;
  float: left;
  border: 2px solid black;
  position: relative;
  object-fit:scale-down;
  
}

.postProcessorContainer {
  width:100%;
  float: left;
  border: 2px solid black;
}



[class*="processorBlock-"] {
  float: left;    
  border: 3px solid rgb(0, 0, 0);    
}

.processorBlock-pre {width:22.67244%; margin:1.54655%;}
.processorBlock-post {width:46.79%; margin: 3.19%;}


/**/

/* * {
  box-sizing: border-box;
} */

  [class*="col-"] {
    float: left;
    padding: 15px;
    
  }
  [class*="colblock-"] {
    float: left;
    padding: 1%;
    border: 3px solid rgb(0, 0, 0);
    margin: 1%;
    box-sizing: border-box;
  }
  [class*="mcol-"] {
    float: left;
    padding: 15px;
    box-sizing: border-box;
  }

.col-1 {width: 8.33%}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.mcol-1 {margin-left: 8.33vw}
.mcol-2 {margin-left: 16.66vw;}
.mcol-3 {margin-left: 25vw;}
.mcol-4 {margin-left: 33.33vw;}
.mcol-5 {margin-left: 41.66vw;}
.mcol-6 {margin-left: 50vw;}
.mcol-7 {margin-left: 58.33vw;}
.mcol-8 {margin-left: 66.66vw;}
.mcol-9 {margin-left: 75vw;}
.mcol-10 {margin-left: 83.33vw;}
.mcol-11 {margin-left: 91.66vw;}
.mcol-12 {margin-left: 100vw;}

.colblock-1 {width: 6.33%}
.colblock-2 {width: 14.66%;}
.colblock-3 {width: 23%;}
.colblock-4 {width: 31.33%;}
.colblock-5 {width: 39.66%;}
.colblock-6 {width: 48%;}
.colblock-7 {width: 56.33%;}
.colblock-8 {width: 64.66%;}
.colblock-9 {width: 73%;}
.colblock-10 {width: 81.33%;}
.colblock-11 {width: 89.66%;}
.colblock-12 {width: 98%;}

[class*="processorBlock-"] {
    float: left;    
    border: 3px solid rgb(0, 0, 0);    
  }

  .processorBlock-pre {width:22.67244%; margin:1.54655%;}
  .processorBlock-post {width:46.79%; margin: 3.19%;}
  .quotecontainer {
    width:64.66%; 
    margin-left: 8.33%;
    float: left;
    padding: 15px;
  }

  .additionalSourceBlock {
    float: left;
    padding: 1px;
    border: 3px solid rgb(0, 0, 0);    
    margin:10px;
    width: 31%; 
    text-align: center;
  }

  
p.small {font-size: 12px}
p.medium {font-size: 16px}
p.quotetext {font-size: 20px; 
    text-align: center;}
p.quotesender {font-size: 12px; 
    text-align: center;}

h1.big {font-size: 20}
h1.medium {font-size:16px}
h1.small {font-size:12px}



